@model iSchoolWebApp.Models.EmploymentRootModel
@{
    ViewData["Title"] = "Employment";
}

<h1>Employment</h1>
<h2>@Model.introduction.title</h2>
<div class="employment">
	<h2>@Model.introduction.content[0].title</h2>
	<h2>@Model.introduction.content[0].description</h2>
</div>

<div class="degreeStatistics">
	<h1>@Model.degreeStatistics.title</h1>
	@foreach (var stats in Model.degreeStatistics.statistics)
	{
		<h3 style="font-size:small">
			@stats.value
		</h3>
		<h3 style="font-size:small">
			@stats.description
		</h3>
	}
</div>