@model iSchoolWebApp.Models.EmploymentRootModel
@{
	ViewData["Title"] = "Employment";
}

<div class="pageTitle">
	<h1>Employment/Careers</h1>
</div>

<hr />

<div class="employment">
	<h1>@Model.introduction.content[0].title</h1>
	<h2>@Model.introduction.title</h2>
	<h2>@Model.introduction.content[0].description</h2>
</div>

<hr />

<h1 style="text-align:center">@Model.degreeStatistics.title</h1>
<div class="statsList">
	@foreach (var stats in Model.degreeStatistics.statistics)
	{
		<div class="degreeStatistics">
			<h3>
				@stats.value
			</h3>
			<h3>
				@stats.description
			</h3>
		</div>
	}

</div>
<hr />

<div class="employmentTable">
	<table id="employment_id" class="display">
		<thead>
			<tr>
				<th>Employer</th>
				<th>Degree</th>
				<th>City</th>
				<th>Title</th>
			</tr>
		</thead>
		<tbody>
			@foreach (var employer in Model.employmentTable.professionalEmploymentInformation)
			{
				<tr>
					<td>@employer.employer</td>
					<td>@employer.degree</td>
					<td>@employer.city</td>
					<td>@employer.title</td>
				</tr>
			}
		</tbody>
	</table>
</div>
<hr />

<div class="career">
	<h2 style="text-align:center">@Model.introduction.content[1].title</h2>
	<h2 style="text-align:center">@Model.introduction.content[1].description</h2>
</div>

<div class="careerTable">
	<table id="career_id" class="display">
		<thead>
			<tr>
				<th>Employer</th>
				<th>Degree</th>
				<th>City</th>
				<th>Term</th>
			</tr>
		</thead>
		<tbody>
			@foreach (var career in Model.coopTable.coopInformation)
			{
				<tr>
					<td>@career.employer</td>
					<td>@career.degree</td>
					<td>@career.city</td>
					<td>@career.term</td>
				</tr>
			}
		</tbody>
	</table>
</div>
<hr />

<h1 style="text-align:center">@Model.employers.title</h1>
<div class="smallEmployment">
	@foreach (var employerSmall in Model.employers.employerNames)
	{
		<div class="smallEmploymentItem">
			<h3>
				@employerSmall
			</h3>
		</div>
	}
</div>
<hr />

<h1 style="text-align:center">@Model.careers.title</h1>
<div class="smallCareers">
	
	@foreach (var careerSmall in Model.careers.careerNames)
	{
		<div class="smallCareerItem">
		<h3>
			@careerSmall
		</h3>
		</div>
	}
</div>
<h4>*Employers/Careers are randomly pulled from our recent graduates</h4>
<hr />

@section Scripts {
	<script type="text/javascript">
		$(document).ready(function () {
			$('#employment_id').DataTable();
		});

		$(document).ready(function () {
			$('#career_id').DataTable();
		});
	</script>
}