@model iSchoolWebApp.Models.EmploymentRootModel
@{
	ViewData["Title"] = "Employment";
}

<h1>Employment</h1>
<h2>@Model.introduction.title</h2>
<div class="employment">
	<h2>@Model.introduction.content[0].title</h2>
	<h2>@Model.introduction.content[0].description</h2>
</div>

<div class="degreeStatistics">
	<h1>@Model.degreeStatistics.title</h1>
	@foreach (var stats in Model.degreeStatistics.statistics)
	{
		<h3 style="font-size:small">
			@stats.value
		</h3>
		<h3 style="font-size:small">
			@stats.description
		</h3>
	}
</div>

<div class="someEmployers">
	<h1>@Model.employers.title</h1>
	@foreach (var employerSmall in Model.employers.employerNames)
	{
		<h3 style="font-size:small">
			@employerSmall
		</h3>
	}
</div>

<div class="someCareers">
	<h1>@Model.careers.title</h1>
	@foreach (var careerSmall in Model.careers.careerNames)
	{
		<h3 style="font-size:small">
			@careerSmall
		</h3>
	}
</div>
<h3 style="font-size:small">*Employers/Careers are randomly pulled from our recent graduates</h3>

<div class="employmentTable">
	<table id="employment_id" class="display">
		<thead>
			<tr>
				<th>Employer</th>
				<th>Degree</th>
				<th>City</th>
				<th>Title</th>
			</tr>
		</thead>
		<tbody>
			@foreach (var employer in Model.employmentTable.professionalEmploymentInformation)
			{
				<tr>
					<td>@employer.employer</td>
					<td>@employer.degree</td>
					<td>@employer.city</td>
					<td>@employer.title</td>
				</tr>
			}
		</tbody>
	</table>
</div>

<div class="career">
	<h2>@Model.introduction.content[1].title</h2>
	<h2>@Model.introduction.content[1].description</h2>
</div>

<div class="careerTable">
	<table id="career_id" class="display">
		<thead>
			<tr>
				<th>Employer</th>
				<th>Degree</th>
				<th>City</th>
				<th>Term</th>
			</tr>
		</thead>
		<tbody>
			@foreach (var career in Model.coopTable.coopInformation)
			{
				<tr>
					<td>@career.employer</td>
					<td>@career.degree</td>
					<td>@career.city</td>
					<td>@career.term</td>
				</tr>
			}
		</tbody>
	</table>
</div>

@section Scripts {
	<script type="text/javascript">
		$(document).ready(function () {
			$('#employment_id').DataTable();
		});

		$(document).ready(function () {
			$('#career_id').DataTable();
		});
	</script>
}