@model iSchoolWebApp.Models.MinorsRootModel
@{
	ViewData["Title"] = "Minors";
}

<div class="pageTitle">
	<h1>Minors</h1>
</div>

<hr />
<div class="undergraduateMinorsList">
	@foreach (var undergraduateMinor in Model.UgMinors)
	{
		<div class="undergraduateMinorsItem">
			<h2>
				@undergraduateMinor.title
			</h2>
			<h4>
				@undergraduateMinor.description
			</h4>
			@foreach (var course in @undergraduateMinor.courses)
			{
				<h4>
					<a href="Course/@course"> @course</a>
				</h4>
			}
			@if (@undergraduateMinor.note != "")
			{
				<h4>
					@undergraduateMinor.note
				</h4>
			}
		</div>
		<hr />
	}
</div>